@mixin font-face-ttf($fontFamily, $path, $fileName, $fontWeight: normal, $fontStyle: normal) {
    @font-face {
        font-family: $fontFamily;
        src: url('#{$path + $fileName}.ttf') format('truetype');
        font-weight: $fontWeight;
        font-style: $fontStyle;
    }
}

@mixin respond-to($breakpoint) {
    @if $breakpoint=="xs" {
        @media screen and (max-width: 575px) {
            @content;
        }
    }
    @else if $breakpoint=="sm-gform" {
        @media screen and (max-width: 640px) {
            @content;
        }
    }
    @else if $breakpoint=="sm-down" {
        @media screen and (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint=="sm" {
        @media (min-width: 576px) and (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint=="sm-up" {
        @media screen and (min-width: 576px) {
            @content;
        }
    }
    @else if $breakpoint=="md-down" {
        @media screen and (max-width: 1023px) {
            @content;
        }
    }
    @else if $breakpoint=="md" {
        @media (min-width: 768px) and (max-width: 1023px) {
            @content;
        }
    }
    @else if $breakpoint=="md-up" {
        @media screen and (min-width: 768px) {
            @content;
        }
    }
    @else if $breakpoint=="lg-down" {
        @media screen and (max-width: 1300px) {
            @content;
        }
    }
    @else if $breakpoint=="lg" {
        @media (min-width: 1001px) and (max-width: 1300px) {
            @content;
        }
    }
    @else if $breakpoint=="lg-up" {
        @media screen and (min-width: 1001px) {
            @content;
        }
    }
    @else if $breakpoint=="xl" {
        @media screen and (min-width: 1301px) {
            @content;
        }
    }
}