.about {
    &__content {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;

        @include respond-to('md-down') {
            flex-direction: column;
        }

        &-item {
            width: calc(50% - 10px);

            @include respond-to('md-down') {
                width: 100%;
            }
        }
    }
}